body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff9933, #e0f7fa);
  color: #333;
}
.logo {
  height: 40px;
  margin: 10px;
}
header {
  padding: 10px;
  background: white;
  text-align: center;
}
footer {
padding: 10px;
  background: linear-gradient(to right, #ff9933, #e0f7fa) ;
  text-align: center;
}

nav .btn {
  margin: 5px;
  padding: 10px 15px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.product-card {
  background: white;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  text-align: center;
}
